.menu{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
}

.menu, .menu2{
    background-color: black;
}

.navbar-toggler-icon, .navbar-brand, .nav-link{
    color:white;
}

.container{
    margin-top:50px;
}

.generales{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.acciones{
    display: flex;
    justify-content: space-around;
    align-items: top;
    flex-wrap: wrap;
}

.listas, .agregarAlumnoForm, .agregarClaseForm, .agregarGrupoForm{
    margin-bottom:50px;
    text-align: center;
}

[type="button"] {
    margin-top:30px;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    margin-bottom: 20px;
}

#seleccionarClase{
    width: 80%;
}

.footer{
    height: 50px;
    background-color: black;
    margin:0 auto;
    color: white;
    margin-top:30px;
    text-align: center;
    position: fixed;
    bottom:0px;
    left: 0px;
    width: 100%;
}

#mostrarDatosClase, #mostrarDatosGrupo, .row{
    margin-top: 30px;
}